/* TOC */

/* General Cotent
 * Typography
 * Header and Navigation
 * Images and Media
 * Footer
 * Media Queries */

/* General Content -----------------------*/
.main{padding-top:3%;}
.row{padding:2% 0;}
.teal{background-color: #008080;}
.white{background-color: #fff;}
.welcome{
  height: 200px;
  width: 225px;
}
.nav{
  border-radius: 10%;
  height: 30%;
  width: 30%;
}
.myName{
  text-align: center;
  margin-top: 30px;
}
.titles{
  font-family: 'Abel';
  font-size: 3em;
  margin: 0.67em;
  font-style: italic;

}
.back{
    background-color: #fff;
    height: 100vh;
    min-width: 100%;
    background-size: cover;
    }
.social-btn{
  height: 70px;
  width: 110px;
  font-size: 15px;
  text-align: center;
  line-height: 1em;
  padding-left: 10px;
  padding-right: 10px;
}
.hey{
    position: relative;
    left: 0;
    top: 0;
}

.bottom{
  position: fixed;
  bottom: 5px;
}

/* Underline sliders ---------------------*/

/* Middle Out */
.sliding-middle-out {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
}
.sliding-middle-out:after {
	content: '';
	display: block;
	margin: auto;
	height: 2px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.sliding-middle-out:hover:after {
	width: 100%;
	background: grey;
}

.subject-slide{
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
}
.subject-slide:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.subject-slide:hover:after {
	width: 100%;
	background: grey;
}

.projectLinks {
  display: inline;
}

/* Right to Left */
.slidingRL {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}

.slidingRL:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.slidingRL:hover:after {
    width: 100%;
    background: grey;
}

/* SLIDE LEFT TO RIGHT*/
.slideLR {
  display: inline-block;
  text-decoration: none;
  position: relative;

}
.slideLR:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  border-bottom: 2px solid grey;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}
.slideLR:hover:after .subTitle{
  width: 100%;
  background: grey;
}
.box-me {
  border-radius: 15px;
  border: solid rgba(0, 0, 0, 0.1);
  border-width: 3px;
  padding: 2rem;
  margin-bottom: 2rem;
}
/* Typography & Properties ---------------------------*/
font-family: 'Abel', sans-serif;
font-family: 'Satisfy', cursive;
h1{
    font-family: 'Abel';
    font-size: 3em;
    margin: 0.67em;
    color: blue;
}
h1.aboutme {
  text-align: center;
  font-size: 500%;
  vertical-align: center;
  color: white;
}
img.icon{
  max-width:5%;
  max-height:5%;
}
img.shake{
   max-width:40%;
   max-height:40%;
}

img.tthacks{
   max-width:70%;
   max-height:70%;
}

img.polyhacks{
   max-width:70%;
   max-height:70%;
}
img.mangohacks{
   max-width:65%;
   max-height:65%;
}

img.express{
   max-width:51%;
   max-height:51%;
}

img.hackathon{
   max-width:50%;
   max-height:50%;
}

img.thinking{
   max-width:45%;
   max-height:45%;
}


body{
    font-family: 'Abel', sans-serif;
    font-size: 1.5em;
    color: #000;
}
h2{
    font-family: 'Abel';
    font-size: 3em;
}

h2.bio{
  color: #fff;
}
p.bio{
  color: #fff;
}

h1.nameTitle {
  position: fixed;
  bottom: 0;
  left: 0;
  padding-left: .5em;
  font-size: 500%;
}

h4.options1 {
  position: relative;
  top: 0;
  left: 0;
  padding-left: 1.5em;
  padding-top: 1em;
  color: white;
}

h4.options1:hover {
  color: black;
  width: 140px;
}

h4.options {
  position: relative;
  top: 0;
  left: 0;
  padding-left: 1.5em;
  color: white;
}

h4.options:hover {
  color: black;
}

img.git {
  position: fixed;
  top: 0;
  right: 0;
  padding-right: 1.5em;
  padding-top: 2.5em;
  max-width: 9%;
  max-height: 9%;
  color: white;
}

img.git:hover {

}

img.linkedin:hover {

}

img.linkedin {
  position: fixed;
  top: 0;
  right: 3em;
  padding-right: 1.5em;
  padding-top: 2.5em;
  max-width: 9%;
  max-height: 9%;
}

/* Header and Navigation -----------------*/
.topnav {
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav li {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

/* Change the color of links on hover */
.topnav li:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav li.active {
    background-color: #4CAF50;
    color: white;
}

.one{
  background-color: #013A6B;
  min-height: 290px;
  max-height: 290px;
}

/* Images and Media ----------------------*/
img{
  max-width: 100%;
}
img.avatar{
    border-radius: 400px;
    border: 2px solid #fff;
}
img:hover{
  opacity: 0.8;
}
hr {
  width: 100%;

}

/* Footer --------------------------------*/

/* Media Queries -------------------------*/
